@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

body {
  color: #777;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.app {
  display: flex;
  flex-flow: row wrap;
}